/* src/components/Home.module.css */
.homeContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: repeating-linear-gradient(
      45deg,
      #e0f7e0,
      #e0f7e0 10px,
      white 10px,
      white 20px
    ); /* 체크무늬 배경 */
    border: 5px solid #32cd32; /* 녹색 테두리 */
    border-radius: 15px;
    margin: 20px;
  }
  
  .title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .titleOrange {
    color: #ff6347; /* 주황색 */
  }
  
  .titleGreen {
    color: #32cd32; /* 녹색 */
  }
  
  .circleContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    position: relative;
    width: 300px;
  }
  
  .circle {
    width: 60px;
    height: 60px;
    background-color: #ff6347; /* 주황색 원 */
    color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
  }
  
  /* Play 버튼을 중앙에 위치 */
  .circleContainer :global(.customButton) {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }